{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Superfresh Bootstrap Template</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<!-- 
Superfresh Template
http://www.templatemo.com/free-website-templates/
-->
<!-- stylesheet css -->

<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/font-awesome.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/nivo-lightbox.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/nivo_themes/default/default.css'%}">
<link rel="stylesheet" type="text/css" href="{% static '/css/templatemo-style.css'%}">
<!-- google web font css -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" id="top">
{% block nav %}
    <!-- navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon icon-bar"></span> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span></button>
      <a href="{% url 'list' %}" class="navbar-brand">Dra. Devra Zuniga.</a></div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'list' %}" class="smoothScroll">INICIO</a></li>
        <li><a href="#contact" class="smoothScroll">CONTACTO</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
<!-- home section -->
{% block header %}
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
        <h2 style="color: white;">Bienvenidos</h2>
        <h1 style="color: aqua;">Soy la doctora <strong>Devra Zuniga</strong></h1>
        <p>Bienvenidos a este nuevo espacio!
            Nuestro objetivo es lograr la mejor sonrisa de nuestros pacientes. Nuestra filosofía de trabajo se basa en dos pilares: profesionalidad y calidad humana.
            Acércate a comprobarlo.</p>
        <a href="#service" style="color: white;" ; class="btn btn-default smoothScroll">Mas informacion</a></div>
    </div>
  </div>
</div>
{% endblock %}
<!-- service section -->
{% block body %}
<div id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Here's How we work.</h2>
      </div>
      <div class="col-md-4 col-sm-4"> <i class="fa fa-paper-plane"></i>
        <h3>Research.</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
      </div>
      <div class="col-md-4 col-sm-4"> <i class="fa fa-bell-o"></i>
        <h3>Design.</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
      </div>
      <div class="col-md-4 col-sm-4"> <i class="fa fa-coffee"></i>
        <h3>Coding.</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- contact section -->
{% block contact %}
<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Agenda tu cita</h2>
      </div>
      <form action="#" method="post">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10">
          <div class="col-md-6 col-sm-6">
            <input type="text" placeholder="Nombre" class="form-control">
          </div>
          <div class="col-md-6 col-sm-6">
            <input type="email" placeholder="Correo" class="form-control">
          </div>
          <div class="col-md-12 col-sm-12">
            <input type="text" placeholder="Asunto" class="form-control">
          </div>
          <div class="col-md-12 col-sm-12">
            <textarea placeholder="Mensaje" class="form-control" rows="5"></textarea>
          </div>
          <div class="col-md-8 col-sm-8">
            <p>Envíame tus consultas o dudas acerca de cualquier tratamiento dental o que desees</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <input type="submit" value="SEND MESSAGE" class="form-control">
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
<!-- footer section -->
{% block footer %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h2>Nuestra ubicacion</h2>
        <p>Edificio palmira, Col.Palmira, Frente al Hotel Honduras Maya, Tegucigalpa Honduras</p>
        <p>Email: <span>dzuniga@gmail.com</span></p>
        <p>Phone: <span>33400510</span></p>
      </div>
      <div class="col-md-6 col-sm-6">
        <h2>Redes sociales</h2>
        <ul class="social-icons">
          <li><a href="#" class="fa fa-facebook"></a></li>
          <li><a href="#" class="fa fa-twitter"></a></li>
          <li><a href="#" class="fa fa-dribbble"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- copyright section -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p>&copy; Blog Dental Site | Dra. Devra Zuniga</p>
      </div>
    </div>
  </div>
</div>
<!-- scrolltop section --> 
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a> 
<!-- javascript js --> 
{% endblock %}

<script src="{% static '/js/jquery.js'%}"></script> 
<script src="{% static '/js/bootstrap.min.js'%}"></script> 
<script src="{% static '/js/nivo-lightbox.min.js'%}"></script> 
<script src="{% static '/js/smoothscroll.js'%}"></script> 
<script src="{% static '/js/jquery.nav.js'%}"></script> 
<script src="{% static '/js/isotope.js'%}"></script> 
<script src="{% static '/js/imagesloaded.min.js'%}"></script> 
<script src="{% static '/js/custom.js'%}"></script>

</body>
</html>