.slide{
    width: 75%;
margin-left: 13%;
font-family: 'Itim', cursive;
font-size: 25px;

}

    .slide img{
        height:350px;
        border-color: #3da0ae;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        margin-top: 65px;
        box-shadow: 5px 8px 8px #888888;
    }

.mapa{
    border-color: #3da0ae;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 5px 8px 8px #888888;

}

.cardBajo{
    height: 60px;
    font-family: 'Itim', cursive;
    font-size: 25px; 
 }

 .contenidos{
     margin-top: 100px;
     font-family: 'Itim', cursive;
     font-size: 25px;

    }

.mrgtp{
    padding-top: 7%
}

.coloresCarr{
    color:#0fbfd6;
}